{%extends "layout.html"%}

{%block content%}

<div class="container flex-grow-1 flex-shrink-0 py-5">
    <div class="mb-5 p-4 bg-white shadow-sm">
        <!--STEP HEADER-->
        <h3>Job Creation</h3>
        <div id="stepper" class="bs-stepper">
            <div class="bs-stepper-header" role="tablist" style="margin-bottom: 2em;">
                <div class="step" data-target="#test-l-1">
                    <button type="button" class="step-trigger" role="tab" id="job-step" aria-controls="test-l-1">
                        <span id="circ-1" class="bs-stepper-circle ">1</span>
                        <span id="lab-1" class="bs-stepper-label ">Job Details</span>
                    </button>
                </div>
                <div id="line-1-2" class="bs-stepper-line"></div>
                <div class="step" data-target="#test-l-2">
                    <button type="button" class="step-trigger" role="tab" id="skills-step" aria-controls="test-l-2">
                        <span id="circ-2" class="bs-stepper-circle">2</span>
                        <span id="lab-2" class="bs-stepper-label">Skills</span>
                    </button>
                </div>
                <div id="line-2-3" class="bs-stepper-line"></div>
                <div class="step" data-target="#test-l-3">
                    <button type="button" class="step-trigger" role="tab" id="summ-step" aria-controls="test-l-3">
                        <span id="circ-3" class="bs-stepper-circle">3</span>
                        <span id="lab-3" class="bs-stepper-label">Summary</span>
                    </button>
                </div>
            </div>


            <div>
                <form id="job-form" action="{{ url_for('create_job') }}" method="post">
                    <!-- JOB DETAILS -->
                    <div id="job-page">
                        <div class="form-group">
                            <label for="title">Job Title</label>
                            <input type="text" class="form-control" name="title" id="title" required="1"
                                placeholder="Enter Job Title">
                        </div>
                        <div class="form-group">
                            <label for="description">Job Description</label>
                            <textarea class="form-control" rows="10" id="description" name="description" required="1"
                                aria-describedby="jobdesc" placeholder="Please Provide a Job Description"></textarea>
                            <small id="jobdesc" class="form-text text-muted">Please input a detailed job description for
                                best skill generation!
                            </small>
                        </div>
                        <button class="btn btn-primary" type="submit" id="job-next">Next</button>
                    </div>

                    <!-- SKILLS CREATION -->
                    <div id="skills-page" style="display:none">
                        <div id="existing-skills" class="form-group text-center">
                            <button class="btn btn-primary" type="button" id="exist-skill" style="width:100%">Use
                                Existing Skill Set</button>
                        </div>

                        <div id="skills-div" class="form-group">
                            <h5>Create Skills</h5>
                            <div style="text-align: center;">
                                <img id="loading-gif" src="/static/assets/30.gif" ">
                            </div>
                            <div class=" form-group">
                                <label for="skillname">Skillset Name</label>
                                <input class="form-control" name='skillname' placeholder='Name your Skillset'
                                    required="1">
                            </div>
                            <input class="skilltag" name='skilltag' placeholder='Skills' style="display: none;">
                        </div>

                        <button class="btn btn-primary" type="button" id="skills-prev">Prev</button>
                        <button class="btn btn-primary" type="button" id="skills-next">Next</button>
                    </div>

                    <!-- SUMMARY -->
                    <div id="summary-page" style="display:none">
                        <h5>Job Title</h5>
                        <p id="summary-title"></p>
                        <h5>Job Description</h5>
                        <p id="summary-desc" style="white-space: pre-line"></p>
                        <h5>Skills</h5>
                        <p id="summary-skills"></p>

                        <button class="btn btn-primary" type="button" id="summary-prev">Prev</button>
                        <button class="btn btn-primary" type="submit">Submit</button>

                    </div>


                </form>
            </div>


        </div>
    </div>
</div>


{% endblock content%}