<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="#" />
    <!--Stylesheet Links-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/create-job.css') }}" /> -->
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
    <!--Stepper-->
    <link rel="stylesheet" href="https://unpkg.com/bs-stepper/dist/css/bs-stepper.min.css">
    <!-- jQuery Tag CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/tagify.css') }}">
    <!-- datatables -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
    <!-- CSS for autocomplete search -->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet" />
    <!--Custom CSS-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}" />

    {% if title %}
    <title>Resumate - {{title}}</title>
    {% else %}
    <title>Resumate</title>
    {% endif %}
</head>

<body>

    <div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>Resumate</h3>
            </div>

            <ul class="navlist list-unstyled components">
                <p>Welcome to Resumate!</p>
                <li class="homenav">
                    <a href="{{url_for('home_page')}}">Home</a>
                </li>
                <li class="jobnav">
                    <a href="{{url_for('job.jobs_page')}}">Jobs</a>
                </li>
                <li class="ranknav">
                    <a href="{{url_for('rankings_page')}}">Rankings</a>
                </li>
            </ul>

            <ul class="list-unstyled CTAs">
                <li>
                    <a href="{{url_for('job.create_job')}}" class="download">Add New Job</a>
                </li>
            </ul>

        </nav>

        <!-- Page Content  -->
        <div id="content">
            {%block content%}{% endblock content%}
        </div>

    </div>


    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <!-- datatables -->
    <script  type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <!-- jQuery Custom Scroller CDN -->
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>
    <!-- For autocomplete search -->
    <script type="text/javascript"  src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
    <!-- CHART JS -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <!--jQuery Tag input-->
    <script type="text/javascript" src="{{ url_for('static', filename='assets/tagify.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/job.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/index.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/rankings.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/charts.js') }}"></script>
</body>

</html>