{%extends "layout.html"%}
{%block content%}
<div style="width: 100%;">
    <label for="id_label_single" style="width: 100%;">
        Search Jobs:
        <select class="js-example-basic-single js-states form-control" id="id_label_single" style="width: 100%;">
            {% for job in jobs %}
            <option value="{{job.ID}}">{{job.Job_Title}}</option>
            {% endfor %}
        </select>
    </label>
    <button class="btn btn-primary" type="submit" id="get-rankings" style="width:100%; height:40px;">
        Get Rankings
    </button>
</div>


<br>
<div class="my-3 p-3 bg-white rounded shadow-sm" style="height: 100%;">
    <h4 class="border-bottom border-gray pb-2 mb-0">View Rankings</h4>

    <div class="content rankplaceholder" style="text-align: center; padding-top: 5vh;">
        <h5>Please Search for a Job</h5>
    </div>
    <div class="media text-muted pt-3 rankdiv" style="display: none; width: 100%;">
        <table id="ranktable" class="display" style="width:100%">
            <thead>
                <tr>
                    <th>Rank</th>
                    <th>Full Name</th>
                    <th>E-mail</th>
                    <th>Phone Number</th>
                    <th>Score</th>
                    <th>Matched Skills</th>
                    <th>Functions</th>
                </tr>
            </thead>
            <tbody id="rankbody">

            
            </tbody>
        </table>   
    </div>
</div>


{% endblock content%}