{%extends "applicant/applicant.html"%}
{%block content%}
<div class="my-3 p-3 bg-white rounded shadow-sm">
    <h4 class="border-bottom border-gray pb-2 mb-0">All Jobs</h4>
    <br>
    <table id="jobtable" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Job Title</th>
                <th>Job Description</th>
                <th># of Applicants</th>
                <th>Functions</th>
            </tr>
        </thead>
        <tbody id="jobbody">
            {% for job in jobs %}
            {% if job.Job_Status!='closed': %}
            <tr>
                <td>{{job.Job_Title}}</td>
                <td>{{job.Job_Description[0:300]}}...</td>
                <td>{{job.Count}}</td>
                <td>
                    <a href="/applicant/{{job.ID}}" class="btn btn-primary btn-xs" id="apply">Apply</a>
                </td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


{% endblock content%}